h3 {
  padding: 0px;
  font-family: Helvetica, sans-serif;
}

html {
  font-family: Helvetica, sans-serif;
}

ul {
  /* background-color: orange; */
  position: relative;
  left:0;
  padding:0;
  margin:0;
  color:black
  /* width:100px;
  height:120px; */
  display: inline-block;
}

ul li{
  /* padding:2px; */
  color: black;
  margin: 2px;
  display: block;
  list-style-type: none;
  list-style: none;
  text-align: left;
  text-transform: uppercase;
  /* stroke:1px; */
  position:
}

ul li:hover {
  color: lightgray;
  cursor:pointer;
}

ul li:active{
  color: lightgreen !important;
}

/* ul li:focus{
  color: lightgreen; */
/* } */

div {
  position: relative;
}
